.buzzer{
    border-radius: 16px;
    /* box-shadow: 0 5px #ffd74066;    */
    margin-bottom: 10px;
}

.buzzerClicked{
    border-radius: 16px;
    box-shadow: 0 0px !important;
    transform: translateY(4px);
    margin-bottom: 10px;
}

.roundHeaderFooter{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 0px;
}

.roundBody{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.roundButton{
    padding:5px
}

.roundTitle{
    margin: 0px;
}

.Red {
    background-color: crimson !important;
    color: white !important;
}
.outlineRed{
    border-color: crimson  !important;
}
.colorRed{
    color:crimson  !important;
}
.backgroundRed{
    background-color: #ffc6d180  !important;;
}
.shadowRed{
    /* background-color: #ffc6d180  !important; */
    box-shadow: 0 5px #ffc6d180;
}