.buzzer{
    border-radius: 16px;
    box-shadow: 0 5px #ffd74066;   
    margin-bottom: 10px;
}

.buzzerClicked{
    border-radius: 16px;
    box-shadow: 0 0px #ffefb3;
    transform: translateY(4px);
    margin-bottom: 10px;
}

.roundHeaderFooter{
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0px;
}

.roundBody{
    padding-top: 10px;
    padding-bottom: 10px;
}

.roundButton{
    padding:5px
}

.roundTitle{
    margin: 0px;
}