<h1 style="margin-bottom: 0px;">How To Play</h1>

<p>First, are you the host or a player? If you are a player, keep reading for instructions. 
    If you are the host, scroll to the "How to Host" section.</p>

<h3>Joining the Game</h3>
<p>Your host will have either sent you a link or a code. This code is the game pin.</p>
<p>If you have the URL, just paste it in your browser and it will take you straight to the game!</p>
<p>If you have the game pin, go to the homepage and type it into the box shown below and enter your display name (this is the name you wil play as). Then, click 'Join a Game'!</p>
<!-- JoinGame image -->
<img src="assets/images/JoinGame.jpg">
<h3>Game Waiting Room</h3>
<p>Once you have joined the game you will be taken to the game waiting room. 
    Here, you need to join the video call on the left hand side, your display name should be saved if you entered it previously. Click 'Join Meeting'.</p>
<!-- JoinMeeting -->
<img src="assets/images/JoinMeeting.jpg">
<p>The video call will remain in place throughout, so you can chat with players at any time. The host may mute you during game play so beware! 
    You can change your audio and video settings like any other video call. 
    Your name should then appear in the current players box, here you can see who else is in the game</p>

<p>The game cannot start until all players declare themselves as ready. 
    So, when you are ready to play, click the 'Ready to Play>' button, 
    your name will turn green!</p>
<!-- CurrentPlayersReady -->
<img src="assets/images/CurrentPlayersReady.jpg">
<p>Now you just need to wait for the host to start the game!</p>

<h3>Playing the Game</h3>
<p>The host will have decided what features they wish to include in the game, so not all of these may appear for you!</p>
<p>You will be randomly split into teams and you will be able to see who is in your team when the game begins. 
    The reconnect code is important! It is how you will rejoin the game if you get disconnected, write it down!</p>
<img src="assets/images/Teams.jpg">

<h4>Questions</h4>
<p>You will see the question and the points it is worth.</p>
<img src="assets/images/Question.jpg">
<h4>Buzzer</h4>
<p>The buzzer is for your team, and will be the colour of your team. Press it if you know the answer!</p>
<img src="assets/images/Buzzer.jpg">
<h4>Timer</h4>
<p>The timer will countdown to give you time to answer the question.</p>
<img src="assets/images/Timer.jpg">
<h4>Team Chat</h4>
<p>The interteam chat means you can privately communicate with those in your team.</p>
<img src="assets/images/TeamChat.jpg">

<h2 style="margin-bottom: 0px;">How to Host</h2>

<p>First, enter your display name and create the game. 
    Then, join the video call meeting on the left hand side of the screen.</p>
<p>Now, confirm yourself as the host. You can now set your game settings.</p>
<img src="assets/images/Host.jpg">
<h4>Game Settings</h4>
<p>You can customise how you want to play the game!</p>
<p>If you wish to display questions on the screen during your quiz, 
    you must enter the number of rounds you require. Then, enter the number of questions per round. 
    This creates a template for you to input questions in after you have confirmed your chosen settings.</p>
<img src="assets/images/SubmitQuestions.jpg">
<p>You must then decide the number of teams you would like to split your players into. 
    You can include yourself in a team if you wish to play also. 
    Once the game starts, teams will be randomly assigned.</p>
<img src="assets/images/TeamNumber.jpg">
<p>Then, select the features you want in your game!
    You can have a buzzer and a timer. 
    The timer length can be set and you can decide if you want the timer to start automatically when each question appears!
</p>
<img src="assets/images/FeatureSettings.jpg">
<p>Once you are happy with your choices, click 'Confirm Settings'. 
    The 'Change Settings' button allows you to amend these settings before the game begins, 
    it will be green if you have already submitted the settings correctly.</p>
<img src="assets/images/HostSettings.jpg">
<p>If you entered rounds and questions per round then the option to 'Input Questions' will appear. 
    Click this to enter the questions for the quiz.</p>
<img src="assets/images/SubmitQuestions.jpg">
<p>You can type or paste your questions, answers and points. Once confirmed you can begin the game!</p>
<img src="assets/images/BeginGame.jpg">

<h3>Hosting the Game</h3>
<p>The game will vary depending on your settings, so not everything may be relevant.</p>

<h4>Game Features</h4>
<p>If you have all features enabled, these are the controls. 
    You can reset any combination of features.</p>
<img src="assets/images/questionFeatures.jpg">
<h4>Questions</h4>
<p>When you are ready to begin the round, click 'Start Round'.</p>
<img src="assets/images/StartRound.jpg">
<p>The first question will appear, and you will be given the option to proceed.</p>
<img src="assets/images/Question1.jpg">
<p>While playing you will have a variety of options such as those below.</p>
<img src="assets/images/EndButtons.jpg">

<h4>End of Game</h4>
<p>When the game is over and you are done with your video call, 
    you can click 'End Game' to end the game for everyone. 
    If you are logged in you can save the game, 
    which will save the questions and players to your account.</p>
<img src="assets/images/EndOfGame.jpg">
