<div class="card border-secondary mb-3 outline{{this.player.colour}}" style="max-width: 100%;">
    <div class="card-header chatHeader color{{this.player.colour}}">{{this.player.colour}} Team Chat</div>
    <div class="card-body scroll row chatBody background{{this.player.colour}}">
        <div id="messages" class=""></div> 
    </div>
    <div class="card-footer chatFooter outline{{this.player.colour}}">
        <form id="form">
            <input class="outline{{this.player.colour}}" style="width:80% !important" id="messageInput"><button class="btn chatButton {{this.player.colour}}" (click)="sendMessage()">Send</button>
        </form>
    </div>
</div>