
  <div *ngIf="this.errorMessage.length > 0" class="alert alert-dismissible fade show alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{this.errorMessage}}</strong> 
  </div>
    <h1 class="display-4">How would you like to play?</h1>
    <p class="lead">There are two ways to play.</p>
    <hr class="my-4">
    <div class="card-deck" style="width: 100%; overflow: hidden;">
        <div class="card border-secondary mb-3" style="max-width: 20rem;">
            <h4 class=" card-header card-title"> Create a Game</h4>
            <div class="card-body">
                <p class="card-text">Create a game and invite players to join with a code.</p>
                <input type="text" [(ngModel)]="displayName" name="displayName" class="form-control" placeholder="Enter Display Name">
              <h4 class="card-title"> <button type="button" class="btn btn-outline-primary" (click)="createRoom()"> Create a Game</button></h4>
            
            </div>
          </div>
    
          <div class="card text-white bg-secondary mb-3" style="max-width: 20rem; flex-grow: 1; ">
            <h4 class=" card-header card-title">Join a Game</h4>
            <div class="card-body">
                <p class="card-text">Join a game with the code your host has shared with you.</p>
                <input type="text" [(ngModel)]="roomPin" name="roomPin" class="form-control" placeholder="Enter Game Code">
                <input type="text" [(ngModel)]="joinedDisplayNamed" name="joinedDisplayNamed" class="form-control" placeholder="Enter Display Name">
                <h4 class="card-title"> <button type="button" class="btn btn-outline-primary" (click)="joinRoom()" >Join a Game</button></h4>
              
            </div>
          </div>
    </div>
  
