<div class="row">
    <h2>Game Play <mat-icon type="button" data-bs-toggle="modal" data-bs-target="#settingsModal" aria-hidden="false" >settings</mat-icon></h2>
  
    <div *ngIf="this.teams" style="padding-bottom: 5px;" class="col">
      <button id="teamButton" type="button" class="btn btn-primary roundButton" data-bs-toggle="modal" data-bs-target="#teamsModal" (click)="logCurrentPlayer()">
        Teams
      </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="teamsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Teams</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div style="color: darkgoldenrod;">Host: {{this.hostDetails.displayName}}</div>
            <div *ngIf="this.teams">
              <div *ngFor="let colours of objectKeys(this.teams)">
                <p id="{{colours}}" class="col" style="padding-left: 0px; margin-bottom: 0px">{{colours}} Team: 
                    <span *ngFor="let players of objectKeys(this.teams[colours])">{{this.teams[colours][players].displayName}} </span>
                </p> 
              </div>
            </div>
          </div>
          <div *ngIf="this.currentPlayer" class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Reconnect Code:  {{this.currentPlayer.uid}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div *ngIf="this.currentPlayer" class="modal-body">
            <div>Write this down! If you get disconnected, user this unique code to rejoin where you left off: {{this.currentPlayer.uid}}</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="this.showQuestions">
    <div class="card border-primary mb-3" style="width:100%; margin:0px; padding:0px;">
    <div *ngIf="!this.endOfGame">
      <div *ngIf="this.currentQuestion === 0 && !this.showAllAnswersBool && !this.showAnswersBool">
        <div class="card-header roundHeader">
          <h5 class="roundTitle">Round {{this.currentRound}}</h5> 
        </div>
        <div class="card-body roundBody">
          There are {{this.numberOfQuestions}} questions in this round
        </div>
        <div *ngIf="this.host" class="card-footer roundFooter colButton">
          <button type="button"class="btn btn-secondary roundButton" (click)="startRound()">Start Round</button>
        </div>
        
      </div>
      <div *ngIf="this.currentQuestion > 0 && !this.showAllAnswersBool && !this.showAnswersBool">
        <div class="card-header roundHeader">
          <h5 class="roundTitle">Round {{this.currentRound}}</h5> 
        </div>
        <div class="card-body roundBody">
          <h4 style="margin:0px">Question {{this.currentQuestion}}</h4>
          <div> {{this.questionObject[this.currentRound][this.currentQuestion].question}} ({{this.questionObject[this.currentRound][this.currentQuestion].points}} points)</div>
        </div>
        <div *ngIf="this.host" class="card-footer roundFooter">
          <div class="row" style="margin:0px">
            <div class="col colButton" *ngIf="this.firstQuestionBool"></div>
            <div class="col colButton" *ngIf="!this.firstQuestionBool"><button type="button" class="btn btn-secondary roundButton" (click)="previousQuestion()">Previous Question</button></div>
            <div class="col colButton" *ngIf="!this.lastQuestionBool"><button type="button" class="btn btn-secondary roundButton" (click)="nextQuestion()">Next Question</button></div>  
            <div class="col colButton" *ngIf="this.lastQuestionBool && !this.lastRoundBool"><button type="button" class="btn btn-secondary roundButton" (click)="nextRound()">Next Round</button></div>
            <div class="col colButton" *ngIf="this.lastQuestionBool && this.lastRoundBool"><button type="button" class="btn btn-secondary roundButton" (click)="endGamePlay()">End Game</button></div>
          </div>
          <div class="row" style="margin:0px">
            <div class="col colButton" *ngIf="this.lastQuestionBool" ><button type="button" class="btn btn-secondary roundButton" (click)="showAnswers()">Round {{this.currentRound}} Answers</button></div>
            <div class="col colButton" *ngIf="this.lastQuestionBool && this.lastRoundBool && !this.showAllAnswersBool"><button type="button"class="btn btn-secondary roundButton" (click)="showAllAnswers()">Show All Answers</button></div>
          </div>
        </div>
      </div>

      <div *ngIf="showAnswersBool && !showAllAnswersBool && this.currentQuestion === 0">
        <div class="card-header roundHeader">
          <h5 class="roundTitle">Round {{this.currentRound}} Answers</h5> 
        </div>
        <div class="card-body roundBody">
          There are {{this.numberOfQuestions}} answers in this round  
        </div>
        <div *ngIf="this.host" class="card-footer roundFooter colButton">
          <button type="button" class="btn btn-secondary roundButton" (click)="startRound()">Show Answers</button>
        </div>
      </div>
<!-- 
      <div *ngIf="showAllAnswersBool && !showAnswers && this.currentQuestion === 0">
        <div class="card-header roundHeader">
          <h5 class="roundTitle">Round {{this.currentRound}} Answers</h5>
        </div>
        <div class="card-body roundBody">
          There are {{this.numberOfQuestions}} questions in this round
        </div>
        <div *ngIf="this.host" class="card-footer roundFooter">
          <button type="button" class="btn btn-secondary roundButton" (click)="startRound()">Show All Answers</button>
        </div>
      </div> -->
      
      <div *ngIf="showAnswersBool && this.currentQuestion > 0">
        <div class="card-header roundHeader">
          <h5 class="roundTitle">Round {{this.currentRound}} Answers</h5> 
        </div>
        <div class="card-body roundBody">
          <h4 class="roundTitle">Answer {{this.currentQuestion}}</h4>  
          <div>{{this.questionObject[this.currentRound][this.currentQuestion].question}} ({{this.questionObject[this.currentRound][this.currentQuestion].points}} points)</div>
          <div>{{this.questionObject[this.currentRound][this.currentQuestion].answer}}</div>
        </div>
        <div *ngIf="this.host" style="margin:0px" class="card-footer roundFooter row ">
          <div class="col colButton" *ngIf="!this.firstQuestionBool"><button type="button" class="btn btn-secondary roundButton" (click)="previousQuestion()">Previous Answer</button></div>
          <div class="col colButton" *ngIf="!this.lastQuestionBool"><button type="button" class="btn btn-secondary roundButton" (click)="nextQuestion()">Next Answer</button></div>
          <div class="col colButton" *ngIf="this.lastQuestionBool && !this.lastRoundBool" ><button type="button" class="btn btn-secondary roundButton" (click)="nextRound()">Next Round</button></div>
          <div class="col colButton" *ngIf="this.lastQuestionBool && this.lastRoundBool"><button type="button" class="btn btn-secondary roundButton" (click)="showAllAnswers()">Show All Answers</button></div>
          <div class="col colButton" *ngIf="this.lastQuestionBool && this.lastRoundBool"><button type="button" class="btn btn-secondary roundButton" (click)="endGamePlay()">End Game</button></div>
     
        </div> 
      </div>
      
      <div *ngIf="showAllAnswersBool">
        <div class="card-header roundHeader">
          <h5 class="roundTitle">Answers</h5> 
        </div>
        <div class="card-body roundBody scroll">
          <div *ngFor="let rounds of this.objectKeys(this.questionObject)">
            <h4 class="roundTitle">Round {{rounds}}</h4>
            <div *ngFor="let questions of this.objectKeys(this.questionObject[rounds])">
              <h5 class="roundTitle">Answer {{questions}}</h5> 
              <div>{{this.questionObject[rounds][questions].question}} ({{this.questionObject[rounds][questions].points}} points)</div>
              <div>{{this.questionObject[rounds][questions].answer}}</div> 
            </div>
          </div>
        
         </div>
         <div *ngIf="this.host" style="margin:0px" class="card-footer roundFooter row ">
          
          <div class="col colButton" *ngIf="this.lastQuestionBool && this.lastRoundBool"><button type="button" class="btn btn-secondary roundButton" (click)="endGamePlay()">End Game</button></div>
        </div>
      </div>

    </div>
    <div *ngIf="this.endOfGame"><h1>End Of Game!</h1></div>
  </div>
</div>

</div>
<div class="row" *ngIf="!this.endOfGame">
  <div class="col" *ngIf="this.buzzerEnabled && this.showBuzzer">
    <button type="button" id="buzzer" class="btn shadow{{this.playerColour}} {{this.playerColour}}" (click)="buzzerPressed()" [ngClass]="this.buzzerPress ? 'buzzerClicked':'buzzer' ">Team Buzzer</button>
    
  </div>
  <div class="col" *ngIf="this.timerEnabled && this.showTimer">
    <div class=" card border outline{{this.playerColour}} mb-3" style="max-width: 100px; max-height: 50px;">
      <div class="row" >
        <div class="col color{{this.playerColour}}"  id="timer" style="padding-right: 0px;">
          <h1 >{{this.timerLength}}</h1>
        </div>
        
        <div *ngIf="this.host" class="col" id="" style="padding-left: 0px;">
          <button class="btn" *ngIf="!timerStarted" type="button" style="padding:0px" (click)="startTimer()" >
            <span class="material-icons color{{this.playerColour}}" style="font-size:40px">play_arrow</span>
          </button>
          <button class="btn" *ngIf="timerStarted" type="button" style="padding:0px" (click)="stopTimer()" >
            <span class="material-icons color{{this.playerColour}}" style="font-size:40px">pause</span>
          </button> 
        </div>
    </div>
    </div>
  </div>
  <div *ngIf="this.host">
    <button *ngIf="this.buzzerEnabled && this.showBuzzer" class="btn btn {{this.playerColour}}" (click)="onResetBuzzer()">Reset Buzzer</button>
    <button *ngIf="this.timerEnabled && this.showTimer" class="btn btn {{this.playerColour}}" (click)="onResetTimer()">Reset Timer</button>
    <button *ngIf="this.timerEnabled && this.showTimer && this.buzzerEnabled && this.showBuzzer" class="btn btn {{this.playerColour}}" (click)="onReset()">Reset All</button>
  </div>
  <div class="row color{{this.buzzerDetails.colour}}" style="padding-left:15px; padding-bottom: 5px;" id="buzzerDetails" *ngIf="this.buzzerPress">{{this.buzzerDetails.displayName}} pressed the buzzer for the {{this.buzzerDetails.colour}} team!</div>
</div>
<div *ngIf="this.currentPlayer" class="row">
  <app-game-chat [player]="this.currentPlayer"></app-game-chat>
</div>


<div class="modal fade" data-bs-backdrop="static" id="settingsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Game Settings</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="hostToggle">
                    <label class="custom-control-label" for="hostToggle">Claim Host</label>
                </div>
            </div>
            
            <div class="mb-3">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="buzzerToggle" checked >
                    <label class="custom-control-label" for="buzzerToggle">Include Buzzer</label>
                </div>
            </div>
            <div class="mb-3">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="timerToggle" checked>
                    <label class="custom-control-label" for="timerToggle">Include Timer</label>
                </div>
            </div>
            <div class="mb-3">
                <label for="timerLength" class="form-label">Timer Length (Mins)</label>
                <input type="range" data-value="0.5"  class="form-range" min="0" max="5" step="0.5" value="timerLength" id="timerLength">
            </div>
            <div class="mb-3">
              <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="timerStart">
                  <label class="custom-control-label" for="timerStart">Autostart Timer on New Question</label>
              </div>
          </div>
            <!-- <div class="mb-3">
              <label for="reconnectButton" class="form-label">Reconnect a Player</label>
              <button type="button" class="btn btn-secondary" id="reconnectButton" (click)="reconnectPlayer()"></button>
            </div>
            <div *ngIf="this.reconnectPlayer" class="mb-3">
               left players -->
              <!-- <div *ngFor="let key of objectKeys(this.participantArray)">
                {{this.participantArray[key].displayName}} : {{this.participantArray[key].uid}}
              </div> 
            </div> -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="saveSettings()">Save Settings</button>
        </div>
      </div>
    </div>
  </div>

